body{
    background-color:#FFFFFF;
}

li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
  font-family: arial;
  font-size: 12pt;

}

h1{
  font-size: 20pt;
  color: green;
  font-style:italic;
}

p{
  font-size: 14pt;
  color: purple;
  background-color: pink;
  font-family: cursive;
}
nav a{
  text-decoration:none;
}

.current{
  text-transform: uppercase;
}
